body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
  font-family: 'Courier New', Courier, monospace;
  color: #2028EE;
}

header {
  border-bottom: 1px solid black;
}

#mood p {
  display: inline;
}

.special {
  color: #EF1584;
  font-weight: bold;
}

.moodImg {
  height: 100px;
}

.imdb {
  text-decoration: none;
}

.imdb:link {
  color: #EF1584;
}

.imdb:visited {
  color: #EF1584;
}

.imdb:hover {
  text-decoration: underline;
}

p::first-letter {
  font-size: 150%;
}

.movie-data dt {
  color: #11b451;
}

#movie-list {
  transform: rotate(180deg);
  margin-left: 5%;
}

.movie-list-item {
  transform: rotate(180deg);
}

.movie-title {
  font-weight: bold;
}